body {
	width: 100vw;
	height: 100vh;
	margin: 0;

	font-family: 'Open Sans';
}

canvas{
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: none;
}

#count{
	font-size: 1.5em;
	position: absolute;
	color: #fff;
	text-align: center;
	top: 0;
	left: 1em;
}

#desktop{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: none;

	font-family: 'Coming Soon', cursive;
}

#input{
	display: block;
	width: calc(90% - 2em);
	padding: 1em;
}

#mobile{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: teal;
	color: #fff;
	display: block;
}

#mobile input{
	margin: 3em 1em;
}

#refresh{
	position: absolute;
	height: 2em;
	width: 2em;
	background: url('images/refresh.png');
	background-size: contain;
	right: 0;
	margin: 0.75em;
}

#refresh a {
	display: block;
	height: 100%;
	width: 100%;
}

#riddle {
	margin: 3em;
}

#score {
	position: absolute;
	margin: 0 1em;
}

#skyline {
	position: absolute;
	bottom: 20vh;
}

.path {
  stroke-dasharray: 8000;
  stroke-dashoffset: 8000;
  animation: draw 10s linear;
}

@keyframes draw {
  from {
    stroke-dashoffset: 8000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#status{
	margin: 0 3em;
	display: block;
}

@media screen and (min-width: 500px), screen and (min-height: 800px){
	canvas{
		display: block;
	}
	#desktop{
		display: block;
	}

	#mobile {
		display: none;
	}
}